@charset "utf-8";
/* CSS Document */
body{ overflow-x:hidden}
.page-content-wrapper .page-content{ margin-left:0;}
.padding_left_0{ padding-left:0px;}
.page-header.navbar{height:95px; line-height:80px;}

.page-header.navbar .page-logo { width:0px; height:95px; float:left;}
.page-header.navbar .page-logo .logo-default { margin-top: 2px; max-width:999px; height:95px; }
.border_top_01{ background:url(.border_top_01.png); height:2px;}
.user_box{ float:left;font-family: "微软雅黑"; font-size:14px; color:#333; margin-top:2px; margin-right:10px;}



.page-content-wrapper{ background-color: #fff !important;}
.page-header.navbar { background-color: #fff !important; }
.page-content-wrapper .page-content{ margin-top:0!important;}
.page-header-fixed .page-container {margin-top:0!important;}